
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.original-background {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  background: rgb(255,255,255);
  background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(180,180,180,1) 26%, rgba(80,80,80,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(180,180,180,1) 26%, rgba(80,80,80,1) 100%);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(180,180,180,1) 26%, rgba(80,80,80,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#505050",GradientType=1);
}

.center {
  align-self: center;
  justify-content: center;
  align-content: center;
}

.left {
  align-self: start;
}

.right {
  align-self: end;

}


.design {
  display: flex;
  width: 550px;
  height: 45px;
  border: #141414 solid 1px;
  align-self: flex-start;
  align-content: center;
  justify-content: center;
}

.design select {
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.control-panel {
  width: 530px;
  height: 60px;
  margin: 15% 0;
  /* border: #141414 solid 1px; */
  display: flex;
  align-self: center;
  align-items: center; 
  justify-content: center;
  border-radius: 4px;
  /* background: linear-gradient(315deg, #454444, #525151); */
  box-shadow:  -20px -20px 40px #414141, 20px 20px 40px #595757; 
}

.control-panel button {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: #212121;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
}

.control-panel button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #212121;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

.control-panel button span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.control-panel button span:not(hover) {
  transition: all 1s;
}


.piano-classic {
  /* align-self: center; */
  margin: 10% 0;
  height: 290px;
  width: fit-content;
  padding: 90px 30px 0 30px;
  border-radius: 4px;
  background: linear-gradient(315deg, #030303, #030303);
  box-shadow:  -6px -6px 30px #020202, 6px 6px 30px #040404;

}

.black-keys {
  position: relative;
}

.white-keys {
  display: flex;
}

.black-keys button {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  width: 40px;
  height: 110px;
  border-radius: 8px;
  background: linear-gradient(315deg, #030303, #030303);
  /* opacity: 0.9; */
}

.white-keys button {
  height: 180px;
  width: 68px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #000;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  /* opacity: 1; */
  /* transition: opacity .5s ease; */
}

.black-keys button:hover {
  border-radius: 8px;
  background: linear-gradient(315deg, #0e0e0e, #0c0c0c);
  box-shadow:  -6px -6px 12px #050505, 6px 6px 12px #151515;
}

.white-keys button:hover {
  border-radius: 8px;
  background: linear-gradient(315deg, #ffffff, #e6e6e6);
  box-shadow:  -6px -6px 12px #666666, 6px 6px 12px #ffffff;
}

.white-keys button:active {
  background: linear-gradient(120deg, #ebedee 0%, #fdfbfb 100%);
}


.black-keys button:active {
  background: linear-gradient(
    109.6deg,
    rgb(63, 61, 61) 11.2%,
    rgba(0, 0, 0, 0.93) 7878.9%
  );
}

.black-keys button:nth-child(1) {
  left: 10%;
}

.black-keys button:nth-child(2) {
  left: 25%;
}

.black-keys button:nth-child(3) {
  left: 52%;
}
.black-keys button:nth-child(4) {
  left: 65.5%;
}
.black-keys button:nth-child(5) {
  left: 80%;
}





/*  */

/* @Media responsive */

/* below are alternative designs for backgrounds  */
@keyframes animate-background-test1 {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.background-test1 {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
 /*  justify-content: center; */
  flex-direction: column;

  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgba(152,68,183,1) 51%, 
        rgba(255,53,127,1) 100%
  );  
  animation: animate-background-test1 20s ease infinite;

}


/* below are alternative designs for backgrounds  */



.piano-gradient {
  margin: 30% 0;
  height: 290px;
  width: fit-content;
  padding: 90px 30px 0 30px;
  border-radius: 30px;
  background: linear-gradient(
    122.3deg,
    rgb(111, 71, 133) 14.6%,
    rgb(232, 129, 166) 29.6%,
    rgb(237, 237, 183) 42.1%,
    rgb(244, 166, 215) 56.7%,
    rgb(154, 219, 232) 68.7%,
    rgb(238, 226, 159) 84.8%
  );
}




/* below are alternative designs for piano keys  */
